
.idea/modules.xml
.idea/S08P12A710.iml
.idea/vcs.xml
.idea/workspace.xml

./mtc_recommend/.idea/modules.xml
./mtc_recommend/.idea/mtc_recommend.iml
./mtc_recommend/.idea/vcs.xml
./mtc_recommend/.idea/workspace.xml
